      <!-- Page footer-->
      <footer>
         <span><center>&copy;<div data-now="" data-format="YYYY" class="text-uppercase"></div> - Sacred Heart College Inc.</center></span>
      </footer>
   </div>