<!DOCTYPE html>
<html>
  <head>
    <title></title>

    <!-- Viewport mobile tag for sensible mobile support -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta charset="utf-8">
   <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
   <meta name="description" content="Bootstrap Admin App + jQuery">
   <meta name="keywords" content="app, responsive, jquery, bootstrap, dashboard, admin">
   <title>SiR - Sacred Heart College</title>
  
   <!-- DATATABLES-->
   <link rel="stylesheet" href="vendor/datatables-colvis/css/dataTables.colVis.css">
   <link rel="stylesheet" href="vendor/datatables/media/css/dataTables.bootstrap.css">
   <link rel="stylesheet" href="vendor/dataTables.fontAwesome/index.css">

   <!-- =============== BOOTSTRAP STYLES ===============-->
   <link rel="stylesheet" href="css/bootstrap.css" id="bscss">
   <!-- =============== APP STYLES ===============-->
   <link rel="stylesheet" href="css/app.css" id="maincss">
    <!--STYLES-->
    <link rel="stylesheet" href="/styles/importer.css">
    <!--STYLES END-->

    <style type="text/css">

    .halfsize {
    -moz-transform:scale(0.5);
    -webkit-transform:scale(0.5);
    transform:scale(0.5);
    }

    .center {
    text-align: center;
    text-transform: uppercase;
    text-shadow: 3px 2px red;
    line-height: 1.8;
    }

    th {
      text-align: center;
      background-color: black;
      color: white;
    }

    </style>
  </head>
  <body>
  
    <!-- Main section-->
      <div class="content-wrapper">
            
            <table><td><img class="halfsize" src="img/logo.png"/></td><td align=center>Sacred Heart College Reports</td></table>
            <!--Begin Main Section of Honor Students -->
            <!-- START DATATABLE -->
                  <div class="col-lg-12">
                     <div class="panel panel-default">
                        <div class="panel-heading" align=center><%= title %> 
                        </div>
                        <div class="panel-body">
                           <div class="table-responsive">
                              <table id="datatable1" class="responsive table-striped table-hover" width="100%">
                                 <thead>
                                    <tr>
                                       <% 
                                          const headers = myQuery[0] ? Object.keys(myQuery[0]) : [] %>
                                       <% _.each(headers, function(data) { %>
                                    <th><%= data %></th>
                                       <% }) %>
                                    </tr>
                                 </thead>
                                 <tbody>
                                    <% _.each(myQuery, function(record) { %>
                                    <tr>
                                    <% for(let field of headers) { %>
                                       <td><%= record[field] %></td>
                                    <% } %>
                                    </tr>
                                    <% }) %>
                                 <tbody>
                           </table>
                        </div>
                     </div>
                  </div>
            </div>
            <!-- END DATATABLE 2-->
            <!-- End Main Section of Honor Students -->     
      </div> 
   </body>
</html>
